:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --education-color: #0075ff;
  --education-alt-color: #0d69d5;
  --game-color: #ff4500;
  --game-alt-color: #f49e0b;
  --game-alt1-color: #fed8b1;
  --sport-color: #f44336;
  --sport-alt-color: #ff6347;
  --brown-color: brown;
  --lightblue-color: lightblue;
  --lightgreen-color: lightgreen;
  --lime-color: lime;
  --green-color: #22c55e;
  --aiTools-color: #4b0082;
  --aiTools-alt-color: #e6e6fa;
  --arabic-color: #8b4513;
  --arabic-alt-color: #fff8dc;
  --book-color: #dff0d8;
  --book-alt-color: #008000;
  --security-color: #ffe6e6;
  --security-alt-color: #ff0000;
  --text-color: #333333;
  --purple-color: purple;
  --grey-color: #888;
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --s-color: #777;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #eee;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
.page {
  background-color: #373937;
  min-height: 100vh;
}

/* Header styles */
header {
  background: #333;
  color: #ffffff;
  padding: 5px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 40px;
  margin-right: 2px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo span {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

header ul {
  list-style: none;
  display: flex;
  padding-top: 10px;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse; /* Remove space between borders */
  margin: 20px 0;
}

table th,
table td {
  border: 1px solid #dddddd; /* Border color */
  text-align: left;
  padding: 8px;
}

table th {
  background-color: #f2f2f2; /* Header background color */
  font-weight: bold; /* Make header text bold */
}

table tr:nth-child(even) {
  background-color: #f9f9f9; /* Zebra striping for even rows */
}

/* Input field styles */

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label 
{
  top: -5px;
  color: #2691d9;
}
.txt_field input[type="email"]:focus ~ label {
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}
input[type="submit"] {
  width: 100%;
  height: 50px;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  border: none;
}
input[type="submit"]:hover {
  border-color: #2691d9;
}
.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a {
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover {
  text-decoration: underline;
}


/* Start Content */
.up {
  position: fixed;
  z-index: 100;
  bottom: 15px;
  right: -30px;
  background-color: var(--blue-color);
  color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  width: 30px;
  text-align: center;
}
.show-up {
  right: 5px;
}
.content {
  overflow: hidden;
}
.head {
  box-shadow: 0 0 3px var(--blue-color);
}
.icons img {
  width: 60px;
  height: 32px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-bottom: 20px;
}
nav div div:nth-child(3) {
  flex-direction: row-reverse !important;
  margin-right: 10% !important;
}
nav li a:hover {
  color: #0075ff !important;
}
/* تغيير لون زر القائمة المنسدلة */
.navbar-toggler {
  border-color: transparent; /* إزالة الحدود */
}

.navbar-toggler-icon {
  background-image: none; /* إزالة الصورة الافتراضية */
}

.navbar-toggler-icon:before {
  content: "\f0c9"; /* رمز الأيقونة (يمكنك تغييره حسب الرغبة) */
  font-family: "Font Awesome 5 Free"; /* تأكد من أنك قد قمت بتحميل Font Awesome */
  font-weight: 900; /* الوزن المناسب للأيقونة */
  color: white; /* اللون الأبيض */
  font-size: 1.5rem; /* حجم الأيقونة */
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
  }
}
.welcome {
  height: 450px;
}
.welcome .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.welcome span {
  color: var(--blue-color);
}
.welcome .text p {
  max-width: 500px;
}
/* End Content */

/* Start Section */
.main-title {
  margin: 30px auto 0;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  transition: 0.3s;
  border-radius: 10px;
}
.main-title::after,
.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
main {
  width: fit-content !important;
  height: 520px;
}
.games::after,
.games::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--game-alt-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.religious::after,
.religious::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--book-alt-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.arabic::after,
.arabic::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--arabic-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.books::after,
.books::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--green-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.sports::after,
.sports::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--green-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.downloads::after,
.downloads::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--game-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.investment::after,
.investment::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--text-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.security::after,
.security::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--security-alt-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.artificial::after,
.artificial::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--aiTools-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.movies::after,
.movies::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--grey-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::after {
  right: -30px;
}
.main-title::before {
  left: -30px;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.section-menu {
  box-shadow: 1px 2px 3px var(--education-color);
}
.sections {
  position: relative;
  padding: 10px 0;
}
.sections p {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);
}
.sections h2 {
  letter-spacing: -2px;
}
.section-par button {
  margin: 0 10px;
}
.section img {
  width: 300px;
  height: 250px;
}
.section button {
  width: 80px;
}
/* End Section */
/* Start Testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
}
.testimonials .box img {
  position: absolute;
  right: -10px;
  top: -20px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}
.testimonials .box h3 {
  margin: 0 0 10px;
  color: var(--main-color);
}
.testimonials .box .title {
  color: #ccc;
  margin-bottom: 10px;
  display: block;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  line-height: 1.5;
  color: var(--s-color);
  margin-top: 10px;
}
/* End Testimonials */
/* ---------------------------------------- */
/* Start Skills  */
.our-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0 18px;
}
.our-skills .skill h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--main-color);
}
.our-skills .skill .progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .skill .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
}
/* End Skills  */
/* ---------------------------------------- */
.main-title {
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  transition: var(--main-transition);
}
/* ---------------------------------------- */
/* Start Work Steps  */
.work-steps {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work-steps .image {
  max-width: 100%;
  margin-right: 100px;
}
.work-steps .info .box img {
  width: 64px;
  margin-right: 30px;
}
.work-steps .info .box {
  background-color: #f6f6f6;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}
.work-steps .info .box h3 {
  margin: 0;
  font-size: 22px;
}
.work-steps .info .box p {
  color: var(--s-color);
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}
.work-steps .info .box::before {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}
.work-steps .info .box:hover::before {
  width: 100%;
  height: 100%;
}
/* End Work Steps  */

/* Start Footer */
.footer {
  background-color: #191919;
  padding: 30px 0 0;
}
.footer .box-icon {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .social {
  display: flex;
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: 0.3s;
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: 0.3s;
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: 0.3s;
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--blue-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
  margin-top: 30px;
}
.footer .box .line i {
  font-size: 25px;
  color: var(--blue-color);
  margin-right: 10px;
}
.footer .box .line svg {
  font-size: 25px;
  color: var(--blue-color);
  margin-right: 10px;
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 0;
  border-top: 1px solid #444;
}
.footer .copyright span {
  color: var(--blue-color);
  font-weight: bold;
}
/* End Footer */
/* Start Media */
/* @media (min-width: 767px) {
  
  } */
/* @media (min-width: 768px) {
  
  } */
/* @media (max-width: 767px) {
  
  } */
/* End Media */

/* Start Animation */

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 10px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 10px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
@media (max-width: 991px) {
  /* Media Skills  */
  .our-skills img {
    display: none;
  }
  .our-skills .progress{
    width: 300px;
  }
  /* Media Skills  */
  /* Media Work Steps */
  .work-steps .container {
    flex-direction: column;
  }
  .work-steps .image {
    margin: 0 0 50px;
  }
  /* Media Work Steps */
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:first-child {
  background-color: #aaa;
}
section:nth-child(2) {
  background-color: #bbb;
}
section:nth-child(3) {
  background-color: #ccc;
}
section:last-of-type {
  background-color: #eee;
}
.progress {
  position: relative;
  width: 500px;
  height: 30px;
  background-color: white;
  margin: 10px;
}
.progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: indianred;
  transition: width 0.3s linear;
}
section:first-child {
  background-color: #aaa;
}
section:nth-child(2) {
  background-color: #bbb;
}
section:nth-child(3) {
  background-color: #ccc;
}
section:last-of-type {
  background-color: #eee;
}

/* Start Stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url(../images/stats.webp);
  background-size: cover;
  min-height: 300px;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 90%);
}
.stats h2 {
  font-weight: bold;
  font-size: 35px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  transition: 1s;
  height: 0;
}
.stats .box::before {
  top: 0;
  right: 0;
}
.stats .box::after {
  bottom: 0;
  left: 0;
}
.stats .box:hover {
  opacity: 1;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats .box .text {
  color: var(--main-color);
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
/* End Stats */
